*{
  margin: 0px;
  padding: 0px;
 box-sizing: border-box;
 outline: none;  
}

.container {
    height: 100vh;
    display: flex;
  justify-content: center;
 align-items: center;
 background: red;
}

.calc{
 margin: auto;
  height: 50vh;
box-shadow: red;
border-radius: 13px 10px 10px 10px;
-webkit-border-radius: 13px 10px 10px 10px;
-moz-border-radius: 13px 10px 10px 10px;
}

.col{
  
  padding: 20px;

    outline: none;
    border: none;
}

input {
  padding: 10px;
  padding: 2px;
  border: none;
}
